body {
  background: #FFF;
  padding: 20px;
  font-family: Helvetica;
}

.slider {
  color: #333;
  padding: 0 0 30px;
}

.slide {
  font-size: 90px;
  width: 150px;
  padding: 10px 0;
  margin: 20px 15px;
  text-align: center;
  border: 1px solid #999;
}

.slide.locked {
  background: rgba(255, 255, 0, 0.5);
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0;
}

.slick-next {
  left: 80px;
}

body {
  background: #FFF;
  padding: 20px;
  font-family: Helvetica;
}

.slider {
  color: #333;
  padding: 0 0 30px;
}

.slide {
  font-size: 90px;
  width: 150px;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  border: 1px solid #999;
  background: white;
}

.slide.locked {
  background: rgba(255, 255, 0, 0.5);
}

.slick-prev {
  bottom: 0;
  left: 0;
  top: 0;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0;
  top: auto;
}
.slick-prev:before,
.slick-next:before {
  background: #6c757d;
}

.active {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 20;
  transform: translate3d(100%, 0, 0px);
}

.active-prev {
  opacity: 1;
  position: relative;
  display: block;
  z-index: 20;
  transform: translate3d(-100%, 0, 0px);
}